@import url("/css/common/background.css");
@import url("/css/common/font.css");
@import url("/css/common/input.css");
@import url("/css/common/button.css");
@import url("/css/common/layout.css");

.post-form__container { position: relative; background: #fff; width: calc(100% - 240px); margin: 0 120px; max-width:1200px; padding:56px; top:40px; border-radius:10px; }
.post-form__button { background: #FF6F0E; color:#fff; height:50px; border:none; border-radius:6px; }
.post-form__section { display:flex; gap:40px; }
.post-form__group { display:flex; flex-direction:column; gap:16px; }
.post-form__form { display:flex; flex-direction:column; gap:40px; }
.post-form__preview { width:210px; height:210px; object-fit:contain; border:1px solid #ccc; margin:5px; border-radius:10px; }
.post-form__input-title, .post-form__input-price {
    background: #F8F9FA; border:none; width:320px; height:47px; border-radius:10px;
    padding:14px 18px; box-sizing:border-box;
}
.post-form__textarea, .post-form__input-location, .post-form__select-category {
    background: #F8F9FA; border:none; height:47px; border-radius:10px;
    padding:14px 18px; box-sizing:border-box;
}
.post-form__textarea { height:220px; resize:none; }
