@import url("/css/shared/font.css");
@import url("/css/shared/background.css");
@import url("/css/shared/input.css");
@import url("/css/shared/button.css");

.footer__area {
  width: 100%;
  height: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__area-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 75px;
}

.footer__left-box {
  display: flex;
  gap: 40px;
  width: 155px;
  height: 19px;
}

.footer__text {
  width: 57px;
  height: 19px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  line-height: 100%;
}

.footer__right-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 259px;
  height: 75px;
}

.footer__store-area {
  display: flex;
  gap: 11px;
  width: 259px;
  height: 41px;
}

.footer__btn-store {
  background-color: #F2F3F6;
  color: #111111;
  font-size: 14px;
  font-weight: 700;
  width: 118px;
  height: 41px;
  border: none;
  border-radius: 10px;
  text-align: center;
  line-height: 41px;
}

.footer__store-text {
  width: 259px;
  height: 19px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  line-height: 100%;
}

@media (max-width: 1024px){
    .footer__area-box{
        width: 768px;
    }
}

@media (max-width: 768px){
    .footer__area-box{
        width: 576px;
    }
}

@media (max-width: 576px){
    .footer__area-box{
        width: 500px;
    }
}