<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>중고거래 인기매물</title>
    <link rel="stylesheet" href="/css/pages/post-list.css">
</head>
<body class="font--pretendard">
<header th:replace="~{fragments/header :: header}"></header>
<div class="post-list__header-container">
    <div class="post-list__header">
        <div class="post-list__header-info">
            <h1 class="post-list__heading-main">믿을만한<br>이웃 간 중고거래</h1>
            <h2 class="post-list__heading-sub">동네 주민들과 가깝고 따뜻한 거래를<br>지금 경험해보세요.</h2>
        </div>
        <img src="/images/banners/products_banner.png" class="post-list__banner-image" alt="포스트 배너 이미지">
    </div>
</div>
<div class="post-list__container">
    <h3 class="post-list__title ">중고거래 인기매물</h3>

    <div th:if="${page == null || #lists.isEmpty(page.content)}" class="post-list__empty">
        <p>등록된 중고 매물이 없습니다.</p>
    </div>

    <div th:if="${page != null && !#lists.isEmpty(page.content)}"
         class="post-list__grid" id="post-grid" th:fragment="postCards">
        <div th:each="post : ${page.content}" class="post-list__card">
            <a th:href="@{/posts/{id}(id=${post?.id})}" class="post-list__card-link">
                <div class="post-list__card-badge" th:if="${post.sold}">판매완료</div>
                <div class="post-list__image-wrapper">
                    <img class="post-list__card-image" th:if="${post.images != null and post.images.size() > 0}" th:src="@{${post.images[0].imageUrl}}" alt="첫번째 이미지">
                    <div class="post-list__card-image" th:if="${post.images == null or post.images.size() == 0}"></div>
                </div>
                <div class="post-list__card-info">
                    <div class="post-list__card-title" th:text="${post?.title ?: '제목 없음'}">제목</div>
                    <div class="post-list__card-price">
                        <span th:text="${#numbers.formatDecimal(post?.price, 0, 'COMMA', 0, 'POINT') ?: '0'}">가격</span>원</div>
                    <div class="post-list__card-location" th:text="${post?.location ?: '장소 없음'}"></div>
                    <div class="post-list__card-detail">조회 <span th:text="${post?.viewCount ?: '0'}"></span> ·
                        채팅 <span th:text="${post?.getChatRoomsCount() ?: '0'}"></span></div>
                </div>
            </a>
        </div>
    </div>
</div>
<a th:href="@{/posts/new}" class="post-list__fab">거래글 쓰기</a>

<script src="/js/post.js"></script>
<script src="/js/header.js"></script>

</body>
</html>