<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헤더 페이지</title>
</head>
<body class="font--pretendard">
<header th:fragment="header" class="header__area bg--gray-000">
    <div class="header__left">
        <a th:href="@{/}">
            <img th:src="@{/images/icons/header_icon.svg}" alt="메인으로 돌아가기">
        </a>
        <div class="header__left-menu">
            <a class="header__btn--left" th:href="@{/posts}">중고거래</a>
            <a class="header__btn--left" th:if="${user != null}" th:href="@{/maps/permission}">동네인증</a>
        </div>
    </div>

    <div class="header__right">
        <form th:action="@{/posts/search}" method="get">
            <label for="header-search__form" class="label--hidden">게시물 검색</label>
            <input type="text" id="header-search__form" class="header-search__form" name="keyword" placeholder="물품이나 동네를 검색해보세요">
        </form>

        <a class="header__btn--login" th:if="${user != null}" th:href="@{/chat/post/ai}">채팅하기</a>
        <form th:action="@{/logout}" method="post" th:if="${user != null}">
            <button type="submit" class="header__btn--login">로그아웃</button>
        </form>
        <a class="header__btn--login" th:if="${user == null}" th:href="@{/users/login}">로그인</a>
    </div>
</header>

</body>
</html>
