.location-section{
    width:870px;
    height:74px;

    display:flex;
    flex-direction:column;
    gap:8px;

}

.location-search-box{
    display:flex;
    align-items:center;
    gap:7px;
}

.location-main{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:30px;
    height: 100%;
}

.map-section{
    display:flex;
    flex-direction:column;
}

.text-center{
    text-align : center;
}

.home-section-banner{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 120px;

    width:1440px;
    height:720px;
}

.home-main{
    display:flex;
    flex-direction:column;

    width: 100%;
    align-items: center;
}

.banner-text-area{
    flex-grow:1;
    min-width:0;
}

.banner-image-area{
    flex-shrink:0;
}

.banner-main-text{
    font-size: 51px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    width: 377px;
    height: 128px;
}

.banner-sub-text{
    height: 52px;
    opacity: 50%;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 10px;
}