<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>납치감금중이라면 당근을 흔들어주세요</title>
    <link rel="stylesheet" th:href="@{/css/background.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/input.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body class="bg-yellow-200 font-pretendard">
<script th:inline="javascript" th:if="${message != null}">
    alert([[${message}]]);
</script>

<h1>홈 페이지(임시)</h1>
</body>
</html>
