<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 상세 페이지</title>
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" th:href="@{/css/background.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/input.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body class="font-pretendard">
    <div th:if="${error}"> <script> alert([[${error}]]); </script> </div>

    <header th:replace="~{fragments/header :: header}"></header>
    <div id="postDetail" class="container">
        <div id="backBtn">
            <img src="/images/icons/leftarrow_icon.svg" alt="목록보기 화살표" id="arrowImage">
            <a th:href="@{/posts}" class="back-btn">목록보기</a>
        </div>
        <div id="postContent">

            <div id="imageView">
                <img src="/images/placeholder.png">
            </div>

            <div id="userView">
                <div id="userInfo">
                    <div id="userNickname" th:text="${post != null and post.user != null ? post.user.nickname : '아이디' }"></div>
                    <div id="userLocation" th:text="${post != null and post.user != null ? post.user.location : '부평 1동'}"></div>
                </div>
                <button class="c-btn" id="chatButton">채팅하기</button>
            </div>

            <hr id="horizon">

            <div id="postInfoView">
                <div id="titleView">
                    <div id="titleContent" th:text="${post != null ? post.title : '글 제목 입니다.'}"></div>
                    <div id="priceView"><span th:text="${post != null ? #numbers.formatDecimal(post.price, 0, 'COMMA', 0, 'POINT') : '50,000'}"></span> 원</div>
                </div>
                <div id="countView">
                    <div>조회 <span th:text="${post != null ? post.viewCount : '0'}"></span>
                        | 채팅 <span th:text="${chatCount != null ? chatCount : '0'}"></span></div>
                </div>
            </div>

            <pre id="descriptionView" th:text="${post != null ? post.description : '글 내용입니다.'}"></pre>

            <div id="locationView">희망 거래장소 | <span th:text="${post != null ? post.location : '부평역 1번출구'}"></span></div>

            <div id="editContainer" th:if="${user?.id == post.user.id}">
                <div id="editButton">
                    <form th:action="@{/posts/{id}(id=${post.id})}" method="post">
                        <input type="submit" id="deleteBt" value="삭제하기" onclick="return confirm('삭제하시겠습니까?');">
                    </form>
                    <div id="vertical">|</div>
                    <a th:href="@{/posts/{id}/edit(id=${post.id})}" id="updateBt">수정하기</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>